# Frontend
node_modules/
dist/
dist-ssr/
.output/
.vinxi/
.tanstack/
.nitro/
*.local

# Backend
__pycache__/
*.py[cod]
.venv/
venv/
db.sqlite3
staticfiles/
media/
.env

# Logs
*.log

# OS / IDE
.DS_Store
.idea/
.vscode/
